@import "tailwindcss";

*{
  scroll-behavior: smooth;
}



@font-face {
  font-family: Darkline;
  src: url("/fonts/Darkline.ttf") format('truetype');
}

@font-face {
  font-family: DMSans;
  src: url("/fonts/DMSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: DMSans-Bold;
  src: url("/fonts/DMSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: DMSans-Medium;
  src: url("/fonts/DMSans-Medium.ttf") format('truetype');
}

@font-face {
  font-family: Kanit-Bold;
  src: url("/fonts/Kanit-Bold.ttf") format('truetype');
}

@font-face {
  font-family: Kanit-Regular;
  src: url("/fonts/Kanit-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Kanit-Medium;
  src: url("/fonts/Kanit-Medium.ttf") format('truetype');
}

@font-face {
  font-family: Kanit-Light;
  src: url("/fonts/Kanit-Light.ttf") format('truetype');
}

@font-face {
  font-family: Roboto-Medium;
  src: url("/fonts/Roboto-Medium.ttf") format('truetype');
}